$icomoon-font-family: "embark-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-store-24px: "\e935";
$icon-search-24px: "\e934";
$icon-home: "\e900";
$icon-help_outline: "\e901";
$icon-info: "\e902";
$icon-cached-24px: "\e903";
$icon-clock: "\e904";
$icon-remove_circle: "\e914";
$icon-add_circle: "\e92c";
$icon-person_add: "\e92d";
$icon-truck: "\e92e";
$icon-directions: "\e92f";
$icon-trailhead: "\e930";
$icon-calendar: "\e931";
$icon-edit: "\e932";
$icon-seat: "\e933";
$icon-phone: "\1f4de";
$icon-add: "\1f53a";
$icon-close: "\10ffff";
$icon-subtract: "\1f53b";
$icon-attachment: "\1f4ce";
$icon-file_download: "\e905";
$icon-file_upload: "\e906";
$icon-apps: "\e907";
$icon-arrow_back: "\e908";
$icon-arrow_drop_down: "\e909";
$icon-arrow_drop_up: "\e90a";
$icon-arrow_forward: "\e90b";
$icon-check: "\e90c";
$icon-expand_less: "\e90d";
$icon-expand_more: "\e90e";
$icon-menu: "\e90f";
$icon-options: "\e910";
$icon-refresh: "\e911";
$icon-arrow_back_ios: "\e912";
$icon-arrow_forward_ios: "\e913";
$icon-notifications: "\1f514";
$icon-person: "\e915";
$icon-check_box: "\e916";
$icon-check_box_outline_blank: "\e917";
$icon-radio_button_checked: "\e918";
$icon-radio_button_unchecked: "\e919";
$icon-star: "\e91a";
$icon-star_outline: "\e91b";
$icon-build: "\e91c";
$icon-share: "\e91d";
$icon-time: "\e91e";
$icon-drag: "\e91f";
$icon-rider: "\e920";
$icon-error: "\e921";
$icon-warning: "\e922";
$icon-do_not_disturb: "\e923";
$icon-location_off: "\e924";
$icon-location: "\e925";
$icon-flag: "\e926";
$icon-vehicle-sxs: "\e927";
$icon-vehicle-snowmobile: "\e928";
$icon-vehicle-slingshot: "\e929";
$icon-vehicle-atv: "\e92a";
$icon-vehicle-motorcycle: "\e92b";

